#root{
    width: 100vw;
    height: 100vh;
}

.map-header{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 4vh;
}

.map-root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer3{
    position: absolute;
    top: 12vh;
    aspect-ratio: 960/150;
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100000000;
}

.layer3{
    background-image: url('./svg/layered-waves-haikei-horizontal.svg');
}

.go-back-button{
    position: absolute;
    top: 2vh;
    left: 1.5vw;
    height: 2vw;
    width: 2vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-image: url('./svg/reshot-icon-left-arrow-VCGUT7EKR3.svg');
}